[submodule "third_party/feapder"]
	path = third_party/feapder
	url = https://github.com/jxxghp/feapder
[submodule "third_party/plexapi"]
	path = third_party/plexapi
	url = https://github.com/pkkid/python-plexapi
[submodule "third_party/transmission-rpc"]
	path = third_party/transmission-rpc
	url = https://github.com/trim21/transmission-rpc
